*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin-top: 15%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;%;
    height:35%;
    width: 45%;
    background-color: #d9c5da;
    box-shadow: 0px 0px 10px #b7d395;
    padding-bottom: 8%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
#url{
    height: 170%;
    width: 70%;
    padding-left: 4%;
    border-radius: 20px;
    border: 0.1px solid grey;
    box-shadow: 0px 0px 10px white;
}
#sub{
    border: none;
    background-color: blue;
    color:aliceblue;
    height:170%;
    width: 40%;
    border-radius: 15px;
    font-weight: 400;
    font-size: 75%;
}
img{
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
}

@media (min-width:400px) and (max-width:600px){
    body{
        background-color: black;
    }
}